# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
Ex8.nb.html
previous_index.html
*.R

# User-specific files
.Ruserdata
.Rproj.user

# RStudio files
*.Rproj.user/
*.Rproj 

# R Environment Variables
*.Renviron

#Folders
Images/

# ESRI Files
*.cpg
*.dbf
*.prj
*.shp
*.shx
*.tiff